html, body {
    margin: 0;
}
#header {
    background-color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: min(100px, 15vh);
}
#links {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#links > * {
    margin: 5px;
}
#display {
    background-image: url('./images/Rossin.jpg');
    background-size: cover;
    height: 60vh;
    color: white;
    position: relative;
}
#title {
    font-size: 7vw;
    position: absolute;
    top: 40px;
    right: 20px;
    filter: drop-shadow(0 0 1rem black);
}
#subtitle {
    font-size: 3vw;
    position: absolute;
    top: 130px;
    right: 20px;
    width: 50vw;
    filter: drop-shadow(0 0 1rem black);
}